#navbar {
    flex-direction: column;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    overflow: hidden;
    height: 80px;
}
#services .items {
    flex-direction: column;
}
#services .items .item {
    width: 100%;
}
.activities .activity {
    flex-direction: column;
}
.activities .activity .activity-image img {
    margin: 0 auto;
    width: 100%;
    
}